#topmenu a {
    padding-right: 1em;
    font-weight: bold;
}

a.sharelink {
    font-family: monospace;
    color: #0000ff;
    padding: 0.3em;
    font-weight: bold;
}

a.addtag {
    border: 0.2em outset;
    border-radius: 0.3em;
    margin: 0.2em;
    font-family: helvetica, arial, sans-serif;
    padding: 0.2em;
    line-height: 2.3em;
    white-space: nowrap;
    color: black;
    text-shadow: 1px;
    background-color: white;
    width: 50em;
    display: inline;
}

a.tp {
    color: #008000
}

a.tn {
    color: #800000;
}

a.itemtab {
    margin: 0.2em 1em 0.2em 0.2em;
}

body {
    background: white;
    color: #222222;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: bicubic;
}

.diff td{
    vertical-align : top;
    white-space    : pre;
    white-space    : pre-wrap;
}

.diff .diffDeleted {
    background-color: #ffe0e0;
}

.diff .diffInserted {
    background-color: #e0ffe0;
}

.diff tr.title {
    font-weight: bold;
    text-decoration: underline;
}

.diff tr.summary {
    font-weight: bold;
}

.diff tr {
    width: 50%;
}

table.diff {
    margin-left: 15px;
    margin-right: 15px;
}

.item-tabs {
    border-top-right-radius: 2em;
    padding-bottom: 2em;
}