#topmenu a {
    padding-right: 1em;
    font-weight: bold;
}

a.sharelink {
    font-family: monospace;
    color: #0000ff;
    padding: 0.3em;
    font-weight: bold;
}

a.addtag {
    border: 0.2em solid;
    border-radius: 0.2em;
    margin: 0.1em;
    font-family: helvetica, arial, sans-serif;
    font-size: smaller;
    padding: 0.1em;
    line-height: 2em;
}

a.itemtab {
    margin: 0.2em 1em 0.2em 0.2em;
}

body {
    background: white;
    color: #222222;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: bicubic;
}

