a.topmenu {
    padding-right: 1em;
    font-weight: bold;
}

h1.topmenu {
}

a.sharelink {
    font-family: monospace;
    color: #0000ff;
    padding: 0.3em;
    font-weight: bold;
}

a.addtag {
    border: 0.2em outset;
    border-radius: 0.2em;
    margin: 0.2em;
}
