RewriteEngine On
RewriteBase /
#RewriteRule ^([0-9]+) /index.php?action=item&id=$1
RewriteRule ^item/(.+) /index.php?action=item&id=$1
#RewriteRule ^item/(.+)/[0-9]+ /index.php?action=story&guid=$1&item=$2

RewriteRule ^(submit|moderate|mirror|about)$ /index.php?action=$1

RewriteRule ^edit/([0-9]+)$ /index.php?action=edit&id=$1